main {
    width: 400px;
    height: 300px;
    background-image: linear-gradient(to top, #AEC9CC, #AECEA1);
    padding: 40px;
    border-radius: 20px;
}

#mascot-image {
    width: 150px;
    aspect-ratio: 1/1;
    display: block;
    margin: 0 auto;
     filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 122));
}

header {
    font-size: 48pt;
    font-family: Junge, cursive;
    margin: auto;
    text-align: center;
    color: #242a25
}

button {
    display: block;
    margin: auto;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border-width: 0;
    background-color: #719296;
    font-family: 'Poppins', sans-serif;
    font-size: 16pt;
    font-weight: 700;
    color: #e3efe4;
    filter: drop-shadow(5px 5px 0px #10373b)
}

#error-text {
    font-size: 14pt;
    margin: auto;
    text-align: center;
    color: red;
}